#![enable(unwrap_variant_newtypes)]
[(
  button: Side1,
  action: keyboard(
    key: KbF13,
  ),
), (
  button: Side2,
  action: keyboard(
    key: KbF14,
  ),
), (
  button: Side3,
  action: keyboard(
    key: KbF15,
  ),
), (
  button: Side4,
  action: mouse(
    button: Mouse5,
  ),
), (
  button: Side5,
  action: keyboard(
    key: KbF17,
  ),
), (
  button: Side6,
  action: keyboard(
    key: KbF18,
  ),
), (
  button: Side7,
  action: keyboard(
    key: KbF19,
  ),
), (
  button: Side8,
  action: keyboard(
    key: KbF20,
  ),
), (
  button: Side9,
  action: keyboard(
    key: KbF21,
  ),
), (
  button: Side10,
  action: mouse(
    button: Mouse4,
  ),
), ( // Binds the F23 key with a turbo rate of 1000 times per second to side button 11
  button: Side11,
  action: keyboard(
    key: KbF23,
    interval_ms: 1,
  ),
), (
  button: Side12,
  action: keyboard(
    key: KbF24,
  ),
), //( // Binds win+shift+S (windows snipping tool) to side button 12
  // button: Side12,
  // action: keyboard(
  //   key: KbS,
  //   modifiers: [LShift, LGui],
  // ),
//)
]
